@font-face {
  font-family: "FacebookSansRegular";
  src: url("/fonts/FacebookSansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Add more @font-face rules for different weights/styles if needed */
